html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font: 14px "Source Sans Pro",sans-serif;
  color: #363636;
}

 /*---------- Nav styling --------------*/

nav {
  height: 70px;
  background-color: #1c2127;
  color: #F7F7F7;
  width: 96%;
  margin: 10px 2%;
  border-radius: 10px;
}

h1 {
  font-size: 28px;
  float: left;
  margin: 20px;
}

.links a {
  width: 50px;
  text-decoration: none;
  color: #F7F7F7;
  border-right: #363636 solid 1px;
  border-left: #363636 solid 1px;
  float: left;
  text-align: center;
  padding: 0 10px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}

.links a:active, {
  background-color: #fff;
  color: #000;
}

#login {
  float: right;
  margin: 10px 3%;
}

#login input {
  margin-top: 10px;
  padding: 7px;
  border: #fff solid 2px;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
}

#login input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#login input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#login input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#login input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#login input[type=submit]:hover {
  background-color: #fff;
  color: #000;

}

#login input[type=submit]:active, {
  background-color: #fff;
  color: #000;
}

#login input[type=text]:focus, {
  border: #fff solid 3px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*---------- Nav styling end --------------*/

/*---------- Heading styling --------------*/

.headings {
  margin: 0 5%;
  display: flex;
}

.aTitle {
  text-align: center;
  flex: 1 100%;
  margin: 10px 0;
  background-color: #a3a5a7;
  border-radius: 10px;;
  width: 100%;
}

h2 {
  color: #1c2127;
 text-align: center;
}

#search {
  margin: 20px;
  float: left;
  width: 100%;
}

#search input {
  padding: 7px;
  border: #363636 solid 2px;
  background-color: white;
  font-weight: bold;
  color: #363636;
  width: 300px;
  margin: 5px 40% 5px 5px;
  float: left;
}

#search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #363636;
}
#search input::-moz-placeholder { /* Firefox 19+ */
  color: #363636;
}
#search input:-ms-input-placeholder { /* IE 10+ */
  color: #363636;
}
#search input:-moz-placeholder { /* Firefox 18- */
  color: #363636;
}

#search input[type=submit]:hover {
  background-color: #363636;
  color: #000;

}

#search input[type=submit]:active, {
  background-color: #363636;
  color: #000;
}

#search input[type=text]:focus, {
  border: #363636 solid 3px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

#search label {
  font-weight: bold;
  margin-left: 10px;
}

#search select {
  padding: 6px;
  border: #363636 solid 2px;
  background-color: white;
  font-weight: bold;
  color: #363636;
  float: left;
  margin: 5px;
}

.tTitle {
  text-align: center;
  flex: 1 100%;
  margin: 10px 0;
  background-color: #a3a5a7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

h3 {
  margin-top: 30px;
  text-align: center;
  color: #1c2127;
}

/*---------- Heading styling end --------------*/

/*---------- Listing styling --------------*/

.content {
  margin: 0 5%;
}

.a-listing::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.a-listing::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.a-listing::-webkit-scrollbar-button {
  background: transparent
}

.a-listing {
  height: 730px;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1 100%;
}

.album-list, track {
  width: 100%;
}

.album-list thead {
  background-color: #363636;
  color: #fff;
  padding: 10px 0 10px 10px; 
  text-align: left;
}

.album-list thead tr th {
  padding: 10px 5px; 
}

.album, .track, .note {
  cursor: pointer;
  width: auto;
  background-color: #fff;
  border: 1px #CCC solid;
  width: 90%;
}

.album:nth-child(even), .track:nth-child(even), .note:nth-child(even) {
    background-color: #EDEDEE;
}

table {
  border-spacing: 0;
}

td {
  border-bottom: 1px #CCC solid;
  padding: 5px;
}

.album td img {
  max-height: 100px;
  max-width: 100px;
  min-width: 100px;
  min-height: 52px;
}

.album a {
  text-decoration: none;
  color: #363636;
  font-weight: bold;
}

.selected, .selected a {
  color: white !important;
  font-style: italic;
  background-color: #1c2127 !important;
  font-weight: bold;
}

.track-list {
  margin-top: 159px;
}

.track thead, .note thead {
  background-color: #363636;
  color: #fff;
  padding: 10px 0 10px 10px; 
  text-align: left;
}

.track thead tr th, .note thead tr th {
  padding: 10px 5px; 
}
