<section data-ng-init="getAlbums()">
    <!--<input type="text" ng-model="searchString" placeholder="Search"/>-->
    <table class="album-list">
      <thead>
        <p style="text-align: center;">Showing {{albums.length}} out of {{albums.length}} results.</p>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Artists</th>
          <th>Genre</th>
          <th>Year</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="album in albums" data-ng-click="selectAlbum($event, album)"
        data-ng-class="{'selected':selectedAlbum.album_id===album.album_id}" class="album">
          <td style="padding: 0;">
          <!--  <img data-ng-if="album.artwork !== null" ng-src="resources/music_artwork/{{album.artwork}}"/>
            <img data-ng-if="album.artwork === null" ng-src="resources/no-image.jpg"/>
          -->
          </td>    
          <td>{{album.album_name}}</td>
          <td>{{album.artist_name}}</td>
          <td>{{album.genre_name}}</td>
          <td data-ng-if="album.artwork !== null">{{album.year}}</td>
          <td data-ng-if="album.artwork === null">Not available</td>
          <td>{{album.total_time | date: 'mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
</section>
