<section>
    <div data-ng-show="trackCount">
        <table class="track">
            <thead>
                <p style="text-align: center">Showing {{trackCount}}</p>
                <tr>
                    <th>#</th>
                    <th>Track name</th>
                    <th>Artist</th>
                    <th>Rating</th>
                    <th>Time</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;"
                    data-ng-class="{'selected':selectedTrack.track_id===track.track_id}"
                    data-ng-repeat="track in tracks">
                    <td style="display:none;">{{track.track_id}}</td>
                    <td>{{track.track_number}}</td>
                    <td>{{track.track_name}}</td>
                    <td>{{track.artist_name}}</td>
                    <td>{{track.rating}}</td>
                    <td>{{track.total_time | date: "hh.mm.ss"}}</td>
                    <td>{{track.size}}</td>
                </tr>
            </tbody>
        </table>
    <div style="display:inline-block;" data-ng-hide="trackCount">
        <p>Sorry no track for this album</p>
    </div>
    <div data-ng-show="noteCount">
        <div class="notes">
            <div data-ng-repeat="note in notes">
                <h4>Note</h4>
                <p>{{note.note}}</p>
                <label>{{note.lastupdate}}</label>
            </div>
        </div>
    </div>
    <div data-ng-hide="trackCount">
        <p>No notes available for this album</p>
    </div>
</section>
